$fail: #F27E7E;
$failText: #B14241;
$successText: #46B078;
$success: #61DF9F;
$gray: #7b7b7b;
$botaoLogin: #2993DD;
$textLogin:#fefefe;
$grayText: #787878;
$textlogintitle: #939797;

@mixin corBotao{
    background-color: $botaoLogin;
    color: $textLogin;
}
@mixin alert {
    border-radius: 18px;
    margin-top: 5em;
    margin-bottom: 5em;
}

@mixin espacamento{
margin-bottom: 2em;

}

@mixin font-campos {
    font-family: 'Trebuchet MS', sans-serif;
}

@mixin font-textosPrincipais{

    font-family: "Myriad Pro", sans-serif;

}

@mixin font-textosPrincipaisBold{

    font-family: "Myriad Pro", sans-serif;
    font-weight: bolder !important;

}

@mixin bg {
    background-image: url(../assets/bg.png);
}

@mixin panelLogin {
    max-width: 395px;
    border-radius: 28px;
}

@media screen and (max-width: 500px){
    .login {
        width: 90%;
    }
}

p{
    margin: 0;
}

body{
    @include bg();

}

//personalização alerta
.alertas__fail{
    
    color: $failText;
    text-align: right;
    font-size: 14px;
    background-color: $fail;
    @include alert();
    @include font-textosPrincipais();
    display: none;
}

.alertas__Sucess{

    color: $successText;
    text-align: right;
    font-size: 14px;
    background-color: $success;
    @include alert();
    @include font-textosPrincipais();
    display: none;
}

.close{
    float: left;
}

.links__conta{
    font-size: 18px;
    color: $grayText;
}

.links__senha{
    
    color: $grayText;
}


.login__email{
@include font-campos();
}

.login__senha{
@include font-campos();
}

.login__botao{
width: 117px;
height: 40px;
@include corBotao();
}

.login__body{
    padding-left: 0;
    padding-right: 0;
}

.login__panel{
    border-radius: 18px !important;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.login__title{
    @include font-textosPrincipaisBold();
    color: $textlogintitle;
}

#close{
    cursor: default;
}

#okay{
    cursor: default;
}

#okay:hover{
    color: $successText;
    cursor: pointer;
}

#close:hover{
    color: $failText;
    cursor: pointer;
}


.copyright__texto{
    
    padding: 0;
}

.copyright{
    max-width: 440px;
    max-height: 25px;
    border-radius: 0;
}

.informacao__exclamacao{
    
    padding: 0px;
    
}

.informacao__exclamacao__p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FeFeFe;
    
    
    
}

.informacao__texto__p{
    margin-top: 0px;
    margin-bottom: 0px
    
}

.informacao{
margin-top: 1em;
}

.informacao__panel1{
    background-color: $gray;
    margin-right: 10px;
    max-width: 29px;
    max-height: 27px;
    border-radius: 0px;
}


.login{
    @include panelLogin();
    margin-top: 12em;
    
    padding: 0;
    
}

.login__botao:hover{
    color: #F9F9F9;
}

