$fail: #F27E7E;
$failText: #B14241;
$successText: #46B078;
$success: #61DF9F;
$gray: #9F9F9F;
$botaoLogin: #2993DD;
$textLogin:#F9F9F9;

@mixin corBotao{
    background-color: $botaoLogin;
    color: $textLogin;
}
@mixin alert {
    border-radius: 18px;
    margin-top: 2em;
}

@mixin espacamento{
margin-bottom: 2em;

}

p{
    margin: 0;
}

//personalização alerta
.alertas__fail{
    
    color: $failText;
    text-align: right;
    font-size: 14px;
    background-color: $fail;
    @include alert();
    display: none;
}

.alertas__Sucess{

    color: $successText;
    text-align: right;
    font-size: 14px;
    background-color: $success;
    @include alert();
    display: none;
}

.close{
    float: left;
}

.links__conta{
    font-size: 18px;
}
.central{
    border-radius: 18px;
}

.login__email{


}

.login__senha{
@include espacamento();
}

.login__botao{
width: 100%;
@include corBotao();
}

#close{
    cursor: default;
}

#okay{
    cursor: default;
}

#okay:hover{
    color: $successText;
}

#close:hover{
    color: $failText;
}


.informacao__texto{
    
    padding: 0px;
}

.informacao__exclamacao{
    
    padding: 0px;
}

.informacao__exclamacao__p{
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}

.informacao__texto__p{
    margin-top: 0px;
    margin-bottom: 0px
    
}

.informacao{
margin-top: 1em;
}

.informacao__panel1{
    background-color: $gray;
}
